@font-face {
    font-family:"needforspeed" ;
    src: url('/nfsmw.ttf') format("ttf");
    font-weight:normal;
    font-style: normal;
}
h1{
 color: blueviolet;
 font-family: "needforspeed";
}